@using VentasWeb.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Mi Tienda Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/PluginsCSS")
    @RenderSection("estilos", required: false)
</head>
<body>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-info" style="font-weight:bold">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" name="Home" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Inicio</a>
                </li>
                @Html.ActionLinkAllow()
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Crear", "Cliente")" target="_blank"><i class="fas fa-hands-helping"></i> Clientes</a>
                </li>
            </ul>
           
        </div>
    </nav>

    <div class="container-fluid mt-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")

    <script type="text/javascript">

        $.extend({ MisUrls: { url: {}, urls: function (a) { $.extend($.MisUrls.url, a); } } });

         //CONTROLADOR CLIENTE
        $.MisUrls.urls({ ObtenerClientes: '@Url.Action("Obtener", "Cliente")' });
        $.MisUrls.urls({ _GuardarCliente: '@Url.Action("Guardar", "Cliente")' });
        $.MisUrls.urls({ _EliminarCliente: '@Url.Action("Eliminar", "Cliente")' });


        //lenguaje español datatable
        $.MisUrls.urls({ Url_datatable_spanish: '@Url.Content("~/content/plugins/datatables/js/datatable_spanish.json")' });



    </script>
    <script>

        function activarMenu(menuactivo) {

            var ul = $("ul.navbar-nav");
            ul.find("li.nav-item").each(function (i, li) {

                var a;

                if ($(li).find("div.dropdown-menu").length != 0) {

                    var div = $($(li).find("div.dropdown-menu"))
                   
                    div.find("a.dropdown-item").each(function (x, tagA) {
                        if ($(tagA).attr("name") == menuactivo) {
                            
                            $(li).addClass("active");
                            return false;
                        }
                    })
                } else {

                    a = $(li).find("a.nav-link");

                    if ($(a).attr("name") == menuactivo) {
                        $(li).addClass("active");
                        return false;
                    }
                }
            });
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>